<h1>Products for sale</h1>

<%= link_to "Cart", carts_path(@carts_path)%>
<%= link_to "Contact", contacts_path(@contacts_path)%>
<%= link_to "About Us", companies_path(@companies_path)%>

<%# array = ["Sale", "New Arrivals"] %>
<%= form_tag filter_something_path do %>
<%= select_tag :value, options_for_select([["Sale", "1"], ["New", "2"]]) %>
<%= submit_tag "Filter" %>

<% end %>

<% @products.each do |product| %>
	<div class="well">
		<div class="row">
			<div class="col-sm-8">
				<h3><%= product.name %></h3>
			</div>
			<div class="col-sm-4">
				<div class="pull-right">
				<%= form_for(@order_item, remote: true) do |f| %>
					<%= f.hidden_field :product_id, value: product.id %>
					<h5><%= product.price %></h5>
					<%# <%= image_tag product.image_url %>
					<% if product.image? %>
          <p><%= image_tag product.image.thumbnail.url %></p>
           <% end %>
					<div class="form-group">
					<input type = "number" value: 1, min: 1 <%=f.text_field :quantity %>
						<%# <%= f.text_field :quantity, value: 1, min: 1, class: 'form-control' %>
					</div>
					<%= f.submit "Add to cart", class: 'btn btn-primary btn-sm' %>
				<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>